{% from "macros.html" import admin_button with context %}

{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <h1>The Admin Panel</h1>
  </div>

  <div class="divider">
    <div class="col-sm-12"><hr></div>
  </div>

  <div class="col-sm-12">
    <button type="button" class="btn btn-success admin-delete-mode">Delete OFF</button>
    <a href="{{ url_for("export_all") }}" type="button" class="btn btn-success">
    <span class="glyphicon glyphicon-download"></span> Export posts</a><hr>
  </div>

</div>

<div class="row">

  <div class="col-sm-4">
    <div class="list-group">

      <h4 class="list-group-item-heading">Manage posts:</h4>

      {% for post in posts %}

      <a href="{{ url_for("posts", slug=post.slug) }}" class="list-group-item">
        {{ admin_button(post.slug, 'remove-post') }}
        {{ admin_button(post.slug, 'export-post') }}
        {{ post.title }}
        <span class="text-muted"> by {{ get_username(post.user_id) }}</span>
      </a>

      {% endfor %}

    </div>
  </div>

  <div class="col-sm-4">
    <div class="list-group">

    <h4 class="list-group-item-heading">Manage users:</h4>

    {% for user in users %}

    <a href="#" id="{{ user.id }}" class="list-group-item click-user">
      {{ admin_button(user, 'remove-user') }}
      {{ admin_button(user, 'toggle-admin') }}
      {{ user.username }}
      &nbsp;<span  class="{% if user.role == 1 %}glyphicon glyphicon-eye-open{% endif %} role-icon"></span>
    </a>

    {% endfor %}

  </div>

  <div class="list-group">
    <div class="list-group-item">
      <h4 class="list-group-item-heading"><span id="details-name">User Details</span></h4>
    </div>
      <div class="list-group-item">Role: <span id="details-role" class="text-muted"></span></div>
      <div class="list-group-item">Posts: <span id="details-posts" class="text-muted"></span></div>
    </div>
  </div>

</div>

</div>

{% endblock %}
