
{% macro admin_button(data, type) %}

{% if type == 'toggle-admin' %}
    <button id="{{ data.id }}" type="button" class="close admin-btn">
    {% if data.role == 1 %}
    <span class="glyphicon glyphicon-eye-close admin-icon red toggle-admin"></span>
    {% else %}
    <span class="glyphicon glyphicon-eye-open admin-icon green toggle-admin"></span>
    {% endif %}
    </button>
{% endif %}

{% if type == 'remove-user' %}
    <button id="{{ data.id }}" type="button" class="close admin-btn">
        <span class="glyphicon glyphicon-remove admin-icon red remove-user"></span>
    </button>
{% endif %}

{% if type == 'remove-post' %}
    <button id="{{ data }}" type="button" class="close admin-btn" data-dismiss="alert">
        <span class="glyphicon glyphicon-remove admin-icon red remove-post"></span>
    </button>
{% endif %}

{% if type == 'export-post' %}
    <button id="{{ data }}" type="button" class="close admin-btn">
        <span class="glyphicon glyphicon-download admin-icon green export-post"></span>
    </button>
{% endif %}

{% endmacro %}

<!-- href="{{url_for("export_post", slug=data)}}" -->
