{% macro admin_button(data, type) %}

{% if type == 'toggle-admin' %}
    <button id="{{ data.id }}" type="button" class="close admin-btn">
    {% if data.role == 1 %}
    <span class="glyphicon glyphicon-eye-close admin-icon red toggle-admin"></span>
    {% else %}
    <span class="glyphicon glyphicon-eye-open admin-icon green toggle-admin"></span>
    {% endif %}
    </button>
{% endif %}

{% if type == 'remove-user' %}
    <button id="{{ data.id }}" type="button" class="close admin-btn">
        <span class="glyphicon glyphicon-remove admin-icon red remove-user"></span>
    </button>
{% endif %}

{% if type == 'remove-post' %}
    <button id="{{ data }}" type="button" class="close admin-btn" data-dismiss="alert">
        <span class="glyphicon glyphicon-remove admin-icon red remove-post"></span>
    </button>
{% endif %}

{% if type == 'export-post' %}
    <button id="{{ data }}" type="button" class="close admin-btn">
        <span class="glyphicon glyphicon-download admin-icon green export-post"></span>
    </button>
{% endif %}

{% endmacro %}

{% macro disqus(shortname, identifier) %}

<div class="divider">
    <div class="col-sm-12"><hr></div>

     <div id="disqus_thread" class="col-sm-7"></div>
        <script type="text/javascript">
            var disqus_shortname = '{{shortname}}';
            var disqus_identifier = '{{identifier}}';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

{% endmacro %}
